<%- include('header', {pageName: `detail of ${file.name}`}, user) %>

<h2>
  Detail of
  <code><%= file.name %></code>
</h2>

<p>
  File name:
  <code><%= file.name %></code>
</p>

<p>
  Share status:
  <%= shareStatus %>
</p>

<p>
  Owner:
  <a href="/user/<%= owner.id %>"><%= owner.name %></a>
</p>

<%- include('footer') %>
