<%- include('header', { pageName: "home" , user }) %>

<h1><%= target.name %></h1>

<h2>Public files</h2>

<table>
  <% publicFiles.forEach(file => { %>
     <tr>
      <td>
        <pre><%= file.name %></pre>
      </td>
      <td><a href="/file/<%= file.id %>">details</a></td>
      <td><a href="#">download</a></td>
    </tr>
  <% }) %>
</table>

<h2>Shared files</h2>

<table>
  <% sharedFiles.forEach(file => { %>
     <tr>
      <td>
        <pre><%= file.name %></pre>
      </td>
      <td><a href="/file/<%= file.id %>">details</a></td>
      <td><a href="#">download</a></td>
    </tr>
  <% }) %>
</table>

<%- include('footer') %>
